var like_count = parseInt($('.like-count').text());

if(<%=@like.frozen?%>){
    <!--frozen이 true라는 것은 like테이블의 인스턴스가삭제 되었다는 뜻 좋아요한 사람이 좋아요 취소한것 따라서 -1하는것-->
    like_count = like_count -1
    $('.like').html(`좋아요(<span class='like-count'>${like_count}</span>)`).toggleClass("btn-warning btn-info text-white");
   
     
}else{
    like_count = like_count +1
     $('.like').html(`좋아요 취소(<span class="like-count">${like_count}</span>)`).toggleClass("btn-warning btn-info text-white");
    
     
}
//좋아요가 취소된 경우
// 좋아요 취소버튼 -> 좋아요 버튼

//좋아요가 새로 눌린 경우
//좋아요 버튼 -> 좋아요 취소버튼으로 